body{

}

.blue{
    background-color:cornflowerblue;
    height:50px;
}

.green{
    background-color: chartreuse;
    height: 150px;
}

.orange{
    background-color: coral;
    height: 100px;
}

.grey{
    background-color: darkgray;
    height: 50px;
}